[data-theme="light"] {
  --color-main-200: #a5c2ec;
  --color-main-300: #6d8ec6;
  --color-main-400: #3e598d;
  --color-main-500: 17 32 66;
  --color-main-600: #0c1838;
  --color-main-700: #08122f;
  --color-main-800: #050c26;
  --color-main-900: #03081f;
  --color-main-contrast: 255 255 255;
  --color-accent-200: #e6e8fe;
  --color-accent-300: #ced2fd;
  --color-accent-400: #a0a7f7;
  --color-accent-500: #8189f3;
  --color-accent-600: #5e65d0;
  --color-accent-700: #4147ae;
  --color-accent-800: #292d8c;
  --color-accent-900: #181c74;
  --color-accent-contrast: #ffffff;
  --color-contrast-200: #e8e8ea;
  --color-contrast-300: #bdbdc0;
  --color-contrast-400: #7f7f81;
  --color-contrast-500: #2d2d2e;
  --color-contrast-600: #202027;
  --color-contrast-700: #161621;
  --color-contrast-800: #0e0e1a;
  --color-contrast-900: #080816;
  --color-paragraph-200: #f2efee;
  --color-paragraph-300: #d9d5d4;
  --color-paragraph-400: #b3aeae;
  --color-paragraph-500: #817c7c;
  --color-paragraph-600: #6e5a5c;
  --color-paragraph-700: #5c3e43;
  --color-paragraph-800: #4a2730;
  --color-paragraph-900: #3d1725;
  --color-paper: 255 255 255;
  --color-paper-brand: 241 245 249;
  --color-paper-contrast: 0 0 0;
  --color-error: 255 51 51;
}
